        @media ( max-width:343px) {
            .promo {
                min-height: 7100px;
                position: relative;
                img {
                    display: block;
                    margin: 0 0 0 -450px;
                }
                &__detal {
                    display: none;
                }
                &__divider {
                    display: none;
                }
                .logo {
                    display: none;
                }
                .hamburger {
                    display: block;
                    margin-left: -100px;
                }
                &__text {
                    margin-left: -400px;
                }
                &__descr {
                    margin-left: -583px;
                }
                .play {
                    margin-left: -1050px;
                    margin-top: -50px;
                }
                &__btn {
                    margin-left: -457px;
                }
                .inst {
                    display: none;
                }
                .vk {
                    display: none;
                }
                .face {
                    display: none;
                }
                .divider_right {
                    display: none;
                }
                .cal {
                    margin-left: -1000px;
                }
                .phone {
                    margin-left: -1000px;
                }
                .num {
                    margin-left: -300px;
                }
                .sign {
                    margin-left: -300px;
                }
                .wrp {
                    margin-left: -300px;
                }
                .num2 {
                    margin-left: -200px;
                }
                .sign2 {
                    margin-left: -200px;
                }
                .wrp2 {
                    margin-left: -200px;
                }
                .num3 {
                    margin-left: -870px;
                    margin-top: 250px;
                }
                .sign3 {
                    margin-left: -870px;
                    margin-top: 250px;
                }
                .wrp3 {
                    margin-left: -870px;
                    margin-top: 250px;
                }
                .num4 {
                    margin-left: -772px;
                    margin-top: 250px;
                }
                .sign4 {
                    margin-left: -772px;
                    margin-top: 250px;
                }
                .wrp4 {
                    margin-left: -772px;
                    margin-top: 250px;
                }
                .zet {
                    margin-left: -65px;
                    margin-top: 180px;
                }
                .zet2 {
                    margin-left: -65px;
                    margin-top: 180px;
                }
                &__production {
                    margin-left: -677px;
                    margin-top: 791px;
                }
                &__production_descr {
                    margin-left: -872px;
                    margin-top: 791px;
                }
                .icons {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .icons2 {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .icons3 {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .icon {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .icon2 {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .icon3 {
                    margin-left: -800px;
                    margin-top: 791px;
                }
                .Rectangle {
                    margin-left: -550px;
                    margin-top: 791px;
                }
                .elips {
                    margin-left: -500px;
                    margin-top: 655px;
                }
                .elips2 {
                    margin-left: -500px;
                    margin-top: 772px;
                }
                .elips3 {
                    margin-left: -500px;
                    margin-top: 889px;
                }
                .one {
                    margin-left: -500px;
                    margin-top: 655px;
                }
                .tu {
                    margin-left: -500px;
                    margin-top: 772px;
                }
                .thri {
                    margin-left: -500px;
                    margin-top: 889px;
                }
                &__prod {
                    margin-left: -500px;
                    margin-top: 654px;
                }
                &__prod_descr {
                    margin-left: -749px;
                    margin-top: 829px;
                }
                &__prod_descr2 {
                    margin-left: -266px;
                    margin-top: 943px;
                }
                &__prod_descr3 {
                    margin-left: -749px;
                    margin-top: 1062px;
                }
                &__prod_txt {
                    margin-left: -832px;
                    margin-top: 829px;
                }
                &__prod_txt2 {
                    margin-left: -173px;
                    margin-top: 953px;
                }
                &__prod_txt3 {
                    margin-left: -832px;
                    margin-top: 1066px;
                }
                .astr {
                    margin-left: 31px;
                    margin-top: 873px;
                }
                .astr2 {
                    margin-left: -494px;
                    margin-top: 1191px;
                }
                .astr3 {
                    margin-left: -1016px;
                    margin-top: 1510px;
                }
                .astr4 {
                    margin-left: 31px;
                    margin-top: 1510px;
                }
                .astr5 {
                    display: none;
                }
                .astr6 {
                    display: none;
                }
                .buy {
                    display: none;
                }
                &__prod_tov {
                    margin-left: -500px;
                    margin-top: 873px;
                }
                &__prod_btn {
                    margin-left: -500px;
                    margin-top: 1510px;
                }
                &__buy {
                    margin-left: -500px;
                    margin-top: 1510px;
                }
                .buy_mob {
                    position: absolute;
                    visibility: visible;
                    width: 740px;
                    height: 914px;
                    margin-left: -787px;
                    margin-top: 5529px;
                }
                &__netvork {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
                .netvork {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
                .netvork2 {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
                .netvork3 {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
                .netvork4 {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
                .netvork5 {
                    margin-left: -513px;
                    margin-top: 1559px;
                }
            }
            footer {
                .food {
                    margin-left: -110px;
                    margin-top: -52px;
                }
                .food2 {
                    margin-left: -110px;
                    margin-top: -52px;
                }
                .nav {
                    margin-left: 25px;
                    margin-top: -52px;
                }
                .menu {
                    margin-left: 24px;
                    margin-top: -52px;
                }
                .menu2 {
                    margin-left: 11px;
                    margin-top: -52px;
                }
                .online {
                    margin-left: -653px;
                    margin-top: -52px;
                }
                .mail {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .inst {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .face {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .mail_img {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .inst_img {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .face_img {
                    margin-left: -653px;
                    margin-top: -42px;
                }
                .phone {
                    margin-left: -690px;
                    margin-top: 194px;
                }
                .cal {
                    margin-left: -690px;
                    margin-top: 194px;
                }
                .phone_img {
                    margin-left: -690px;
                    margin-top: 194px;
                }
                .footer_adres {
                    margin-left: -1097px;
                    margin-top: 143px;
                }
                .adres {
                    margin-left: -1097px;
                    margin-top: 143px;
                }
                .adres_img {
                    margin-left: -1097px;
                    margin-top: 143px;
                }
                .res {
                    margin-left: -108px;
                    margin-top: 50px;
                }
                .politic {
                    margin-left: -694px;
                    margin-top: 50px;
                }
            }
        }
        
        @media ( max-width:1920px) {
            .buy_mob {
                display: none;
            }
        }